<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div style="background-color: silver">
    <h1>Id:{{userId.id}}</h1>
    <p>FirstName:{{userId.firstName}}</p>
    <p>LastName:{{userId.lastName}}</p>
    <p>Age:{{userId.age}}</p>
    <p>Email{{userId.email}}</p>
    <p>Password:{{userId.password}}</p>
    <p>City:{{userId.city}}</p>
    <p>{{deleteUsers}}</p>
    <form class="form" action="/users/{{userId.id}}">
        <button onclick={{a}}>delete</button>
    </form>

</div>
</body>
</html>